.paper {
    margin-top: 10px;
    margin-bottom: 10px;
}
.images {
    display: grid;
    max-width: 960px;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    margin: 10px auto;
}

.images p {
    text-align: center;
}
.paper h1 {
    text-align: center;
}

#upload-form {
    margin: auto;
    max-width: 600px;
}

#upload-form input {
    width: 100%;
}